/* ========== Import fonts from Google ========== */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css");

/* =========== Reset some basic elements ========== */

body, h1, h2, h3,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/* =========== Style the body ========== */

body {
  color: #111;
  background-color: #fff;
  font: normal 100%/150% "Open Sans",
                         "Helvetica Neue",
                          Helvetica,
                          Arial,
                          sans-serif;
  font-feature-settings: "kern" 1; /* TODO: needs vendor prefixes? */
  font-kerning: normal;            /* TODO: needs vendor prefixes? */
  scroll-behavior: smooth;
}

/* =========== Style headings ========== */

h1 {
  font-size: 225%;
  line-height: 133%;
  margin-bottom: 0.33333em;
}

h2 {
  font-size: 150%;
  line-height: 150%;
  margin-bottom: 0.5em;
}

/* =========== Sections ========== */

section {
  min-height: 100vh;
}

/* =========== Intro ========== */

#intro {
  background-color: #ccb081;
  display: flex;
  flex-direction: column;
  margin: 0;
}

/* =========== Style the header & nav ========== */

header,
nav ul {
  display: flex;
}

header {
  align-items: center;
  justify-content: space-between;
  padding: 2em 12em;
}

header h1 {
  color: #fff;
  flex: 1;
}

/*
header h1,
header nav {
  color: #fff;
  flex: 1;
}

nav ul {
  justify-content: space-around;
}

nav li {
  list-style: none;
}

nav a {
  color: #fff;
  font-size: .75em;
  text-decoration: none;
  text-transform: uppercase;
}
*/

.nav li a {
  position: relative;
  display: block;
  padding: 15px 15px 15px 50px;
  font-size: 1em;
  color: #eee;
  border-bottom: 1px solid #222;
  text-decoration: none;
}

.nav li a:before {
  font: 14px fontawesome;
  position: absolute;
  top: 14px;
  left: 20px;
}

.nav li a:hover {
  background: #444;
}

.nav li a.active {
  box-shadow: inset 5px 0 0 #5b5, inset 6px 0 0 #222;
  background: #444;
}

.wrapper {
  display: flex;
  min-height: 100%;
  background-color: #000;
}

.sidebar {
  position: fixed;
  width: 220px;
}

.content {
  flex: 1;
  background: #eee;
  box-shadow: 0 0 5px black;
  transform: translate3d(0, 0, 0);
  transition: transform .3s;
}

.content.isOpen {
  transform: translate3d(220px, 0, 0);
}

.button {
  cursor: pointer;
  position: absolute;
  margin: 2em 0 0 1em;
}

.button:before {
  content: '\f0c9';
  font: 42px fontawesome;
}


/* =========== Intro hero ========== */

#intro .hero {
  color: #fff;
  margin: auto;
  text-align: center;
}

/* =========== About ========== */

#about {
  text-align: center;
}

#about h1 {
  margin: 2em;
}
